# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# Configurações
config/config.yaml
config/secrets/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo